<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>
    </head>

    <body>



<h1>Formulaire d'entrée de commande</h1>
<div class="formulaire">
  {{ form(form) }}
</div>

<h2>Récupérer au format JSON, YAML</h2>

  </body>
</html>
